@model interartStore.Models.Funcionario
@{
    ViewBag.Title = "Cadastro de Funcionario";
}

<h2>Cliente cadastrado com sucesso.</h2>
<br />
<p>@Html.ActionLink("Voltar", "Funcionario")</p>
<p>@Html.ActionLink("Visualizar funcionarios cadastrados", "ListarFunc")</p>