@model interartStore.Models.Game
@{
    ViewBag.Title = "Cadastro de Game";
}

<h2>Cliente cadastrado com sucesso.</h2>
<br />
<p>@Html.ActionLink("Voltar", "Game")</p>
<p>@Html.ActionLink("Visualizar jogos cadastrados", "ListarGame")</p>