@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>interart Store</h1>
    <p class="lead">É interativo, é arte</p>
    <p>Sua loja de jogos criados por desenvolvedores independentes e indies.</p>
</div>